@media (max-width: 576px) {
    .banner h1 {
        font-weight: 200;
        font-size: 30px !important;
        padding-bottom: 10px;
      }
      .banner h2 {
        font-size: 70px;
        line-height: 70px;
      }
 }
 @media (min-width: 577px) and (max-width:767.99px) { 
    banner h1 {
        font-weight: 200;
        font-size: 30px !important;
        padding-bottom: 10px;
      }
      .banner h2 {
        font-size: 70px;
        line-height: 70px;
      }
  }